{% extends 'aplikacja/base.html' %}
{% block content %}
<!-- Page Heading -->
<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">
        Dane sprawy {{ sprawa.nazwa }}
    </h1>
</div>
<!-- <div class="row"> -->

<nav class="navbar bg-light navbar-expand-sm ">



  <ul class="nav navbar-nav nav-fill nav-pills mx-auto">
    <li class="nav-item active">
      <a class="nav-link active" id="tab-1" data-toggle="tab" role="tab" href="#content-1" aria-selected="true" aria-controls="content-1">General</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="tab-2" data-toggle="tab" role="tab" href="#content-2" aria-selected="false" aria-controls="content-2">Notatki</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="tab-3" data-toggle="tab" role="tab" href="#content-3" aria-selected="false" aria-controls="content-3">Brudnopis</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="tab-4" data-toggle="tab" role="tab" href="#content-4" aria-selected="false" aria-controls="content-4">Materiały</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="tab-5" data-toggle="tab" role="tab" href="#content-5" aria-selected="false" aria-controls="content-5">Raporty</a>
    </li>
  </ul>

</nav>


<main role="main" class="container-full">
  <div class="container-full">
    <div class="tab-content">
      <div class="tab-pane fade show active" id="content-1" aria-labelledby="tab-1" role="tabpanel">


<!-- ------------------------------------------------ -->

<div class="row">
    <!-- Earnings (Monthly) Card Example -->
    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-primary shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                            Nazwa
                        </div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800">
                            {{ sprawa.nazwa }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Earnings (Annual) Card Example -->
    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-success shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                            Klient
                        </div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800">
                            {{ sprawa.klient.imie }} {{ sprawa.klient.nazwisko }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-info shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                            Typ sprawy
                        </div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800">
                            {{ sprawa.typ_sprawy }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Tasks Card Example -->
    <!-- Pending Requests Card Example -->
    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-warning shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">
                            Detektyw
                        </div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800">
                            {{ sprawa.detektyw.imie }} {{ sprawa.detektyw.nazwisko }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <!-- Earnings (Monthly) Card Example -->
    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-primary shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                            Data rozpoczęcia
                        </div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800">
                            {{ sprawa.data_rozpoczecia  }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Earnings (Annual) Card Example -->
    <!-- Earnings (Monthly) Card Example -->
    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-primary shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                            Data zakończenia
                        </div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800">
                            {{ sprawa.data_zakonczenia|default_if_none:""  }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Earnings (Annual) Card Example -->
</div>
<h1 class="h3 mb-2 text-gray-800">
    Opis sprawy
</h1>
<p class="mb-4">
    {{ sprawa.opis_sprawy }}
</p>
<h1 class="h3 mb-2 text-gray-800">
    Zakres czynności
</h1>
<p class="mb-4">
    {{ sprawa.zakres_czynnosci }}
</p>



{% if request.user.admin or request.user == sprawa.detektyw %}
<div class="row d-flex justify-content-center">
    <!-- Earnings (Monthly) Card Example -->
    <!-- <div class="col-xl-3 col-md-6 mb-4"> -->
                                    <div class="my-2"></div>
                                    <a href="#" class="btn btn-warning btn-icon-split">
                                        <span class="icon text-white-50">
                                            <i class="far fa-edit"></i>
                                        </span>
                                        <span class="text">Edytuj</span>
                                    </a>
                                    <div class="my-2 mx-2"></div>
                                    <a href="#" class="btn btn-danger btn-icon-split" data-toggle="modal" data-target="#deleteSprawaModal">
                                        <span class="icon text-white-50">
                                            <i class="fas fa-trash"></i>
                                        </span>
                                        <span class="text">Usuń</span>
                                    </a>
    <!-- </div> -->
    <!-- Earnings (Annual) Card Example -->
</div>




    <div class="modal fade" id="deleteSprawaModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <form action="" method="POST" >
            {% csrf_token %}
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Usuwasz?</h5>
                        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>
                    <div class="modal-body">Naciśnij "Usuń" aby usunąć sprawę {{sprawa.nazwa}}.</div>
                    <div class="modal-footer">
                        <button class="btn btn-secondary" type="button" data-dismiss="modal">Anuluj</button>
                        <!-- <a class="btn btn-primary" href="{% url 'logout' %}">Wyloguj</a> -->
                        <button class="btn btn-primary" type="submit" name="button">Usuń</button>
                    </div>
                </div>
            </div>
        </form>
    </div>

{% endif %}














<!-- ------------------------------------------------ -->

       
      </div>
      <div class="tab-pane fade" id="content-2" aria-labelledby="tab-2" role="tabpanel">Notatki</div>

      <div class="tab-pane fade" id="content-3" aria-labelledby="tab-3" role="tabpanel">Brudnopis</div>

      <div class="tab-pane fade" id="content-4" aria-labelledby="tab-4" role="tabpanel">Materiały</div>
    </div>
  </div>
</main>

<!-- </div> -->


{% endblock %}
