{% extends 'aplikacja/base.html' %}
{% block content %}
<!-- Page Heading -->
<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">
        Dane klienta
    </h1>
</div>
<div class="row">
    <!-- Earnings (Monthly) Card Example -->
    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-primary shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                            Imię
                        </div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800">
                            {{ user.imie }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Earnings (Annual) Card Example -->
    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-success shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                            Nazwisko
                        </div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800">
                            {{ user.nazwisko }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-info shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                            Email
                        </div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800">
                            {{ user.email }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Tasks Card Example -->
    <!-- Pending Requests Card Example -->
    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-warning shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">
                            Numer telefonu
                        </div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800">
                            {{ user.numer_telefonu }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <!-- Earnings (Monthly) Card Example -->
    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-primary shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                            Adres
                        </div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800">
                            {{ user.adres }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Earnings (Annual) Card Example -->
</div>
<h1 class="h3 mb-2 text-gray-800">
    Inne
</h1>
<p class="mb-4">
    {{ user.inne }}
</p>




<div class="row d-flex justify-content-center">
    <!-- Earnings (Monthly) Card Example -->
    <!-- <div class="col-xl-3 col-md-6 mb-4"> -->
                                    <div class="my-2"></div>
                                    <a href="{{ user.get_absolute_url }}" class="btn btn-warning btn-icon-split">
                                        <span class="icon text-white-50">
                                            <i class="far fa-edit"></i>
                                        </span>
                                        <span class="text">Edytuj</span>
                                    </a>
                                    <div class="my-2 mx-2"></div>
                                    <a href="#" class="btn btn-danger btn-icon-split">
                                        <span class="icon text-white-50">
                                            <i class="fas fa-trash"></i>
                                        </span>
                                        <span class="text">Usuń</span>
                                    </a>
    <!-- </div> -->
    <!-- Earnings (Annual) Card Example -->
</div>


{% endblock %}
